{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% for listing in active_listings %}
    <div class="card mb-3">
    <div class="row no-gutters">
        <div class="col-md-4">
        <img src="{{ listing.image_url }}" class="card-img" style="display: block; height: 250px; object-fit: scale-down;" alt="...">
        </div>
        <div class="col-md-8 text-center text-md-left">
        <div class="card-body">
            <h4 class="card-title"><a href="{% url 'listing-detail' listing.pk %}" class="text-dark">{{ listing.title }}</a></h4>
            <h5 class="card-title">Price: ${{ listing.current_bid }}</h5>
            <p class="card-text">{{ listing.description|truncatechars:"300" }}</p>
            <p class="card-text"><small class="text-muted">Created: {{ listing.created_at }}</small></p>
        </div>
        </div>
    </div>
    </div>
    {% empty %}
    No active listing found!
    {% endfor %}
{% endblock %}